<!-- kg_reservation/templates/kg_reservation/base.html -->
{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'kindergarden/css/style.css' %}">
  <title></title>
</head>
<body>
    <!-- Navigation -->


    <header>
      <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
        {% if kindergarten %}
        <a class="navbar-brand" href="{% url 'kindergarden' kindergarten.uri_name %}">{{ kindergarten.name }}</a>
        {% endif %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                {% if user.type == "parent" or user.type == "teacher" %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'calendar' %}">Kalendář</a>
                    </li>
                    <li class="nav-item">

                    {% if user.type == "parent" %}
                        <a class="nav-link" href="{% url 'parent' %}">Moje stránka</a>
                    {% elif user.type == "teacher" %}
                        <a class="nav-link" href="{% url 'teacher' %}">Moje stránka</a>
                    {% endif %}

                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="{% url 'password_change' %}">Změnit heslo</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Odhlásit</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Přihlásit</a>
                    </li>
                {% endif %}
            </ul>
            <div>{{ user.user.first_name }} {{ user.user.last_name }}</div>
        </div>
      </nav>
    </header>

<!-- Page Content -->
<section class="py-5">
  <div class="container">
    <h2 class="font-weight-light">&nbsp;</h2>
    {% block content %}
    {% endblock %}

    {% block script %}
    {% endblock %}
  </div>
</section>


</body>
</html>
