<!-- kg_reservation/templates/kg_reservation/calendar.html -->

{% extends './base.html' %}

{% block content %}
<h3>Kalendář</h3>
<div class="clearfix">
</div>

<div class="btn-toolbar" role="toolbar" aria-label="Ovládání">
  <div class="btn-group mr-2" role="group" aria-label="Navigace">
	<a class="btn btn-info btn-secondary" href="{% url 'month' previous_year previous_month %}">Předchozí měsíc</a>
	<a class="btn btn-info btn-secondary" href="{% url 'month' this_year this_month %}">Tento měsíc</a>
	<a class="btn btn-info btn-secondary" href="{% url 'month' next_year next_month %}">Další měsíc</a>
  </div>
    {% if teacher and teacher.is_admin %}
  <div class="btn-group mr-2" role="group" aria-label="Plánování">
    <form method="post">
        <input class="btn btn-secondary" type="submit" value="Naplánovat měsíc" />
        <input class="btn btn-secondary" type="button" onclick="javascript:window.location.href='{% url 'month_report' year month %}'" value="Docházka" />
        {% csrf_token %}
    </form>
  </div>
    {% endif %}
</div>

{% if parent %}
<table class="table">
<tr>
    <th>Jméno dítka</th><th>absence za poslední {{ child.kindergarden.compensation_length }} měsíce</th></tr>
</tr>
{% for child in parent.child_set.all %}
<tr>
    <th><a href="/child/{{ child.uuid }}">{{ child.name }}</a></th><th>{{ child.compensation | length }}</th>
</tr>
{% endfor %}
</table>
{% endif %}


{{ calendar }}
{% endblock %}
