{% extends './base.html' %}

{% block content %}
<h2>Program na den {{ day.date }}</h2>
<div class="table-responsive">
<table class="table">
    <tr>
        <td>Program</td><td>{{ day.program }}</td>
    </tr>
    <tr>
        <td>Poznámka ke dni</td><td>{{ day.note }}</td>
    </tr>
</table>
</div>

{% if parent %}
<h3>Průvodci pro tento den</h3>
<table class="table table-bordered table-sm">
    <thead>
    <tr><th>Průvodce</th><th>Telefon</th></tr>
    </thead>
{% for teacher in parent.teachers_for_the_day %}
<tr>
    <td><a href="{% url 'teacher_by_id' teacher.pk %}">{{ teacher.user.first_name }} {{ teacher.user.last_name }}</a></td>
    <td> {{ teacher.phone }} </td>
</tr>
{% endfor %}
</table>

<h3>Moje děti</h3>
<form method="post" action="{% url 'day-save' day.date.year day.date.month day.date.day  %} ">
{% csrf_token %}
<div class="table-responsive">
<input class="btn btn-primary" type="submit" value="Uložit"></input>
<table class="table table-bordered table-sm">
    <thead>
    <tr><th>Děcko</th><th>Rez.</th><th>Doch.</th></tr>
    </thead>
    <tbody>
    {% for child in parent.childern_all %}
    <tr>
        <td><a href="{% url 'child' child.uuid %}">{{ child.first_name }} {{ child.middle_name }} {{ child.last_name }}</a></td>
        <td class="text-center">
            {% if not past and day.capacity > day.child_day_planned.count %}
            <input class="" type="checkbox"  name="child-{{ child.pk }}-planned" {% if child.pk in parent.childern_planned %} checked="checked"{% endif %} />
                {% if not child.pk in parent.childern_planned %} 
                        <select class="form-control" name="child-{{ child.pk }}-compensation">
                                <option value="">Náhrada</option>
                                {% for d in child.compensation %} 
                                <option value="{{ d.date.year }}-{{ d.date.month }}-{{ d.date.day }}">{{ d.date.year }}-{{ d.date.month }}-{{ d.date.day }}</option>
                                {% endfor %}
                        </select>
                {% endif %}
            {% else %}
                {% if child.pk in parent.childern_planned %} ANO {% else %} NE {% endif %}
            {% endif %}
        </td>
        <td class="text-center"> {% if child.pk in parent.childern_present %} ANO {% else %} NE {% endif %}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
<input class="btn btn-primary" type="submit" value="Uložit"></input>
</form>
{% endif %}

{% if teacher_view %}

<form method="post" action="{% url 'day-save' day.date.year day.date.month day.date.day  %} ">
{% csrf_token %}
    <label for="meal">Počet obědů</label>
    <input name="meals" id="meals" value="{{ teacher_view.meals }}"></input>

<h3>Průvodci na tento den</h3>
<input class="btn btn-primary" type="submit" value="Uložit"></input>
<table class="table table-bordered table-sm">
    <thead>
    <tr><th>Průvodce</th><th>Hodiny</th></tr>
    </thead>
    <tbody>
    {% for teacher in teacher_view.teachers_for_the_day %}
    <tr>
        <td><a href="{% url 'teacher_by_id' teacher.pk %}">{{ teacher.user.first_name }} {{ teacher.user.last_name }}</a></td>
        <td class="text-center">
            {% if teacher_view.teacher.is_admin %}
            <input class="custom-input" type="time" name="teacher-{{ teacher.pk }}-present" min="1:00" max="12:00" {% if teacher.today.time %}value="{{ teacher.today.time }}"{% endif %}></input>
            {% else %}
                {{ teacher.time }}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>


<h3>Docházka dětí</h3>
<table class="table table-bordered table-sm">
    <thead>
    <tr><th>Děcko</th><th>Rez.</th><th>Doch.</th></tr>
    </thead>
    <tbody>
    {% for child in teacher_view.childern_all %}
    <tr>
        <td><a href="{% url 'child' child.uuid %}">{{ child.first_name }} {{ child.middle_name }} {{ child.last_name }}</a></td>
        <td class="text-center">
            {% if teacher_view.teacher.is_admin and day.capacity > day.child_day_planned.count %}
            <input class="custom-input" type="checkbox" name="child-{{ child.pk }}-planned" {% if child.pk in teacher_view.childern_planned %}checked="checked"{% endif %}></input>
                {% if not child.pk in teacher_view.childern_planned %} 
                        <select class="col-lg-3 custom-select form-control-sm form-control" name="child-{{ child.pk }}-compensation">
                                <option value="">Náhrada</option>
                                {% for d in child.compensation %} 
                                <option value="{{ d.date.year }}-{{ d.date.month }}-{{ d.date.day }}">{{ d.date.year }}-{{ d.date.month }}-{{ d.date.day }}</option>
                                {% endfor %}
                        </select>
                {% endif %}
            {% else %}
                {% if child.pk in teacher_view.childern_planned %} ANO {% else %} NE {% endif %}
            {% endif %}
        </td>
        <td class="text-center">
            {% if teacher_view.teacher.is_admin and child.pk in teacher_view.childern_planned %}
            <input class="" type="checkbox" name="child-{{ child.pk }}-present" {% if child.pk in teacher_view.childern_present %}checked="checked"{% endif %}></input>
            {% elif child.pk in teacher_view.childern_planned  and child.pk in teacher_view.childern_present %}
                ANO
            {% elif child.pk in teacher_view.childern_planned  and not child.pk in teacher_view.childern_present %}
                NE
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<input class="btn btn-primary" type="submit" value="Uložit"></input>
</form>
{% endif %}

{% endblock %}
