{% extends './base.html' %}

{% block content %}
<h2>Program na den {{ day.date }}</h2>
<div class="table-responsive">
<table class="table">
    <tr>
        <td>Program</td><td>{{ day.program }}</td>
    </tr>
    <tr>
        <td>Poznámka ke dni</td><td>{{ day.note }}</td>
    </tr>
</table>
</div>

{% if parent %}
<h3>Rodičovský pohled</h3>
<form method="post" action="{% url 'day-save' day.date.year day.date.month day.date.day  %} ">
<div class="table-responsive">
<table class="table">
    <tr><th>Děcko</th><th>Rezervováno</th><th>Přítomno</th></tr>
    {% for child in parent.childern_all %}
    <tr>
        <td>{{ child.first_name }} {{ child.middle_name }} {{ child.last_name }}</td>
        <td>
            <input class="form-check-input" type="checkbox" name="planned" {% if child.pk in parent.childern_planned %} checked="checked"{% endif %} />
        </td>
        <td>{% if child.pk in parent.childern_present %} ANO {% else %} NE {% endif %}</td>
    </tr>
    {% endfor %}
</table>
</div>
<input type="submit" value="Uložit"></input>
</form>
{% endif %}

{% if teacher %}
<h3>Učitelský pohled pohled</h3>
<form method="post" action="{% url 'day-save' day.date.year day.date.month day.date.day  %} ">
{% csrf_token %}

<table class="table">
    <tr><th>Děcko</th><th>Rezervováno</th><th>Přítomno</th></tr>
    {% for child in teacher.childern_all %}
    <tr>
        <td>{{ child.first_name }} {{ child.middle_name }} {{ child.last_name }}</td>
        <td>
            {% if teacher.teacher.is_admin and day.capacity > day.child_day_planned.count %}
            <input class="form-check-input" type="checkbox" name="child-{{ child.pk }}-planned" {% if child.pk in teacher.childern_planned %}checked="checked"{% endif %}></input>
            Náhrada za absenci:
            <select class="form-control" name="child-{{ child.pk }}-compensation">
                <option value="">---------</option>
                {% for d in child.compensation %} 
                <option value="{{ d.date.year }}-{{ d.date.month }}-{{ d.date.day }}">{{ d.date.year }}-{{ d.date.month }}-{{ d.date.day }}</option>
                {% endfor %}
            </select>
            {% else %}
                {% if child.pk in teacher.childern_planned %} ANO {% else %} NE {% endif %}
            {% endif %}
        </td>
        <td>
            {% if teacher.teacher.is_admin and child.pk in teacher.childern_planned %}
            <input class="form-check-input" type="checkbox" name="child-{{ child.pk }}-present" {% if child.pk in teacher.childern_present %}checked="checked"{% endif %}></input>
            {% elif child.pk in teacher.childern_planned  and child.pk in teacher.childern_present %}
                ANO
            {% elif child.pk in teacher.childern_planned  and not child.pk in teacher.childern_present %}
                NE
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
<input class="btn btn-primary" type="submit" value="Uložit"></input>
</form>
{% endif %}

{% endblock %}
