<!-- templates/registration/password_reset_confirm.html -->
{% extends './base.html' %}

{% block title %}Zadejte nové heslo{% endblock %}

{% block content %}

{% if validlink %}

<h1>Nastavte si nové heslo!</h1>
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Změnit heslo">
</form>

{% else %}

<p>Adresa pro změnu hesla už není platná - pravděpodobně proto, že jste jste
heslo již změnili.  Zkuste prosím požádat o novou změnu hesla.</p>

{% endif %}
{% endblock %}
